In [1]:
import pandas as pd
main = pd.read_csv('S:/Hackathons/EY/datasets/main.csv')

In [2]:
main.head()

,state,District_Key,population_x,area,density,Confirmed,Active,Recovered,Deceased,Migrated_Other,population_y,No.CCE,No.CCP,CCE per lakh population,CCE per CCP
0,Andhra Pradesh,AP_Anantapur,4540646.280,19130.0,237.357359,67121,149,66377,595,0,42332781.5,1599.5,1117.0,2.0,0.5
1,Andhra Pradesh,AP_Chittoor,4637560.416,15152.0,306.069193,85381,452,84092,837,0,42332781.5,1599.5,1117.0,2.0,0.5
2,Andhra Pradesh,AP_East Godavari,5728522.488,10807.0,530.075182,123267,489,122142,636,0,42332781.5,1599.5,1117.0,2.0,0.5
3,Andhra Pradesh,AP_Guntur,5436823.760,11391.0,477.291174,74228,621,72947,660,0,42332781.5,1599.5,1117.0,2.0,0.5
4,Andhra Pradesh,AP_Kadapa,3207590.688,15359.0,208.841115,54774,122,54197,455,0,42332781.5,1599.5,1117.0,2.0,0.5

In [3]:
dist_char = main[['state','District_Key','population_x','density']]
dist_char.columns = ['state','district','population','density']

# source

https://indianexpress.com/article/india/india-news-india/india-population-growth-people-over-sixty-senior-citizens-2764848/

http://www.isec.ac.in/BKPAI%20Working%20paper%201.pdf

In [4]:
age_percent = {'Andhra Pradesh': 7.6,
 'Arunachal Pradesh': 4.5,
 'Assam': 5.9,
 'Bihar': 6.6,
 'Chhattisgarh':7.2,
 'Goa': 8.3,
 'Gujarat':6.9 ,
 'Haryana': 7.5,
 'Himachal Pradesh': 9,
 'Jharkhand': 5.9,
 'Karnataka': 7.7,
 'Kerala': 10.5,
 'Madhya Pradesh': 7.1,
 'Maharashtra':8.7,
 'Manipur': 6.7,
 'Meghalaya': 4.6,
 'Mizoram': 5.5,
 'Nagaland': 4.5,
 'Odisha': 8.3,
 'Punjab': 9,
 'Rajasthan': 6.7,
 'Sikkim': 5.4,
 'Tamil Nadu': 8.8,
 'Telangana': 7.6,
 'Tripura': 7.3,
 'Uttar Pradesh': 7,
 'Uttarakhand': 7.7,
 'West Bengal': 7.1,
 'Andaman and Nicobar Islands': 4.9,
 'Chandigarh': 5,
 'Dadra and Nagar Haveli and Daman and Diu': 5.1,
 'Jammu and Kashmir': 6.7,
 'Ladakh': 8,
 'Lakshadweep': 6.1,
 'Delhi': 5.2,
 'Puducherry':8.3}

age_percent = pd.DataFrame(list(zip(age_percent.keys(),age_percent.values())),columns = ['state','percent'])
age_percent['percent'] = age_percent['percent']+0.30*age_percent['percent']

In [7]:
dist_char = pd.merge(dist_char,age_percent , on = 'state')
dist_char['num_senior_cit'] = dist_char['population'] * dist_char['percent']*0.01

# Urban pop

source : http://mospi.nic.in/sites/default/files/reports_and_publication/statistical_publication/EnviStats/Component5-1-14.xlsx

In [5]:
urban = pd.read_excel('S:/Hackathons/EY/datasets/age/urban.xlsx')
urban['pect_urban'] = (urban['Urban']/(urban['Rural'] + urban['Urban'])) * 100

In [8]:
urban.head()

                         state     Rural     Urban  pect_urban
0  Andaman and Nicobar Islands    237093    143488   37.702355
1               Andhra Pradesh  56361702  28219075   33.363462
2            Arunachal Pradesh   1066358    317369   22.935810
3                        Assam  26807034   4398542   14.095372
4                        Bihar  92341436  11758016   11.294984

In [6]:
urban['pect_urban']
dist_char = pd.merge(dist_char,urban.drop(columns = ['Rural','Urban']) , on = 'state')
dist_char

              state          district   population       density  pect_urban
0    Andhra Pradesh      AP_Anantapur  4540646.280    237.357359   33.363462
1    Andhra Pradesh       AP_Chittoor  4637560.416    306.069193   33.363462
2    Andhra Pradesh  AP_East Godavari  5728522.488    530.075182   33.363462
3    Andhra Pradesh         AP_Guntur  5436823.760    477.291174   33.363462
4    Andhra Pradesh         AP_Kadapa  3207590.688    208.841115   33.363462
..              ...               ...          ...           ...         ...
673           Delhi     DL_West Delhi  2828086.216  25250.769786   97.503911
674      Puducherry       PY_Karaikal   222646.864   1418.132892   68.332141
675      Puducherry           PY_Mahé    46499.392   5166.599111   68.332141
676      Puducherry     PY_Puducherry  1056721.368   3606.557570   68.332141
677      Puducherry          PY_Yanam    61856.112   2061.870400   68.332141

[678 rows x 5 columns]

In [9]:
urban.drop(columns = ['Rural','Urban']).to_csv('S:/Hackathons/EY/datasets/selected/urban.csv',index = False)