242911	18.62
3,42,853	5.95

### Source : https://data.gov.in/resources/reported-prevalence-morbidity-dlhs-iv

In [1]:
import pandas as pd
comorb = pd.read_csv('S:/Hackathons/EY/datasets/epic/comorb.csv')

In [2]:
comorb.head()

               state  comorb_percent
0     Andhra Pradesh          24.495
1  Arunachal Pradesh          13.070
2              Assam          23.915
3              Bihar          24.105
4       Chhattisgarh          18.370

In [3]:
main = pd.read_csv('S:/Hackathons/EY/datasets/main.csv')
main.head()

,state,District_Key,population_x,area,density,Confirmed,Active,Recovered,Deceased,Migrated_Other,population_y,No.CCE,No.CCP,CCE per lakh population,CCE per CCP
0,Andhra Pradesh,AP_Anantapur,4540646.280,19130.0,237.357359,67121,149,66377,595,0,42332781.5,1599.5,1117.0,2.0,0.5
1,Andhra Pradesh,AP_Chittoor,4637560.416,15152.0,306.069193,85381,452,84092,837,0,42332781.5,1599.5,1117.0,2.0,0.5
2,Andhra Pradesh,AP_East Godavari,5728522.488,10807.0,530.075182,123267,489,122142,636,0,42332781.5,1599.5,1117.0,2.0,0.5
3,Andhra Pradesh,AP_Guntur,5436823.760,11391.0,477.291174,74228,621,72947,660,0,42332781.5,1599.5,1117.0,2.0,0.5
4,Andhra Pradesh,AP_Kadapa,3207590.688,15359.0,208.841115,54774,122,54197,455,0,42332781.5,1599.5,1117.0,2.0,0.5

In [4]:
main1 = main.copy()
main1 = main1[main1['state'].isin(morbidity['states'])]

NameError: name 'morbidity' is not defined

In [34]:
main1.head(1000)

,state,District_Key,population_x,area,density,Confirmed,Active,Recovered,Deceased,Migrated_Other,population_y,No.CCE,No.CCP,CCE per lakh population,CCE per CCP
0,Andhra Pradesh,AP_Anantapur,4540646.280,19130.0,237.357359,67121,149,66377,595,0,42332781.5,1599.5,1117.0,2.0,0.5
1,Andhra Pradesh,AP_Chittoor,4637560.416,15152.0,306.069193,85381,452,84092,837,0,42332781.5,1599.5,1117.0,2.0,0.5
2,Andhra Pradesh,AP_East Godavari,5728522.488,10807.0,530.075182,123267,489,122142,636,0,42332781.5,1599.5,1117.0,2.0,0.5
3,Andhra Pradesh,AP_Guntur,5436823.760,11391.0,477.291174,74228,621,72947,660,0,42332781.5,1599.5,1117.0,2.0,0.5
4,Andhra Pradesh,AP_Kadapa,3207590.688,15359.0,208.841115,54774,122,54197,455,0,42332781.5,1599.5,1117.0,2.0,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
673,Chandigarh,CH_Chandigarh,1173660.400,114.0,10295.266667,19044,494,18244,306,0,1054686.0,8.0,59.0,1.0,0.0
709,Puducherry,PY_Karaikal,222646.864,157.0,1418.132892,3726,63,3603,60,0,1244464.0,87.0,51.0,7.0,2.0
710,Puducherry,PY_Mahé,46499.392,9.0,5166.599111,1652,114,1530,8,0,1244464.0,87.0,51.0,7.0,2.0
711,Puducherry,PY_Puducherry,1056721.368,293.0,3606.557570,30249,154,29584,511,0,1244464.0,87.0,51.0,7.0,2.0
712,Puducherry,PY_Yanam,61856.112,30.0,2061.870400,2088,8,2035,45,0,1244464.0,87.0,51.0,7.0,2.0

In [35]:
main1.to_excel('C:/Users/dines/Desktop/main.xlsx',index = False)

In [60]:
import pandas as pd
new_morb1 = pd.read_excel('S:/Hackathons/EY/datasets/epic/new_morb1.xlsx')
main = pd.read_csv('S:/Hackathons/EY/datasets/main.csv')

In [61]:
new_morb1.head()

,state,district,Reported Prevalence of Morbidity - Any Injury,Reported Prevalence of Morbidity - Acute Illness,Reported Prevalence of Morbidity - Chronic Illness,morbidity_percent
0,Andaman and Nicobar Islands,Total,3.5,10.3,8.0,21.8
1,Andaman and Nicobar Islands,North & Middle Andaman,1.3,5.7,3.4,10.4
2,Andaman and Nicobar Islands,South Andaman,5.4,15.4,12.3,33.1
3,Andaman and Nicobar Islands,Nicobar,3.2,6.7,4.1,14.0
4,Andhra Pradesh,Total,5.5,10.1,12.0,27.6

In [62]:
main.head()

,state,District_Key,population_x,area,density,Confirmed,Active,Recovered,Deceased,Migrated_Other,population_y,No.CCE,No.CCP,CCE per lakh population,CCE per CCP
0,Andhra Pradesh,AP_Anantapur,4540646.280,19130.0,237.357359,67121,149,66377,595,0,42332781.5,1599.5,1117.0,2.0,0.5
1,Andhra Pradesh,AP_Chittoor,4637560.416,15152.0,306.069193,85381,452,84092,837,0,42332781.5,1599.5,1117.0,2.0,0.5
2,Andhra Pradesh,AP_East Godavari,5728522.488,10807.0,530.075182,123267,489,122142,636,0,42332781.5,1599.5,1117.0,2.0,0.5
3,Andhra Pradesh,AP_Guntur,5436823.760,11391.0,477.291174,74228,621,72947,660,0,42332781.5,1599.5,1117.0,2.0,0.5
4,Andhra Pradesh,AP_Kadapa,3207590.688,15359.0,208.841115,54774,122,54197,455,0,42332781.5,1599.5,1117.0,2.0,0.5

In [64]:
main.rename({'District_Key' : 'district'},inplace = True)
main['district'] = main['District_Key'].apply(lambda x : x[3:])

In [65]:
main.head()

,state,District_Key,population_x,area,density,Confirmed,Active,Recovered,Deceased,Migrated_Other,population_y,No.CCE,No.CCP,CCE per lakh population,CCE per CCP,district
0,Andhra Pradesh,AP_Anantapur,4540646.280,19130.0,237.357359,67121,149,66377,595,0,42332781.5,1599.5,1117.0,2.0,0.5,Anantapur
1,Andhra Pradesh,AP_Chittoor,4637560.416,15152.0,306.069193,85381,452,84092,837,0,42332781.5,1599.5,1117.0,2.0,0.5,Chittoor
2,Andhra Pradesh,AP_East Godavari,5728522.488,10807.0,530.075182,123267,489,122142,636,0,42332781.5,1599.5,1117.0,2.0,0.5,East Godavari
3,Andhra Pradesh,AP_Guntur,5436823.760,11391.0,477.291174,74228,621,72947,660,0,42332781.5,1599.5,1117.0,2.0,0.5,Guntur
4,Andhra Pradesh,AP_Kadapa,3207590.688,15359.0,208.841115,54774,122,54197,455,0,42332781.5,1599.5,1117.0,2.0,0.5,Kadapa

In [66]:
print(new_morb1.shape)
print(main.shape)

(291, 6)
(713, 16)

In [73]:
main2 = pd.merge(main,new_morb1[['state','district','morbidity_percent']],on = ['state','district'],how = 'left')

In [80]:
fill_vals = main2[['state','morbidity_percent']].groupby(['state']).mean()
fill_vals.head()

                             morbidity_percent
state
Andaman and Nicobar Islands          23.550000
Andhra Pradesh                       27.207692
Arunachal Pradesh                    27.478571
Assam                                      NaN
Bihar                                      NaN

In [109]:
fill_vals.to_excel('S:/Hackathons/EY/datasets/epic/fillvals.xlsx',index = True)
fill_vals1 = pd.read_excel('S:/Hackathons/EY/datasets/epic/fillvals.xlsx')

In [110]:
fill_vals1.head()

                         state  morbidity_percent
0  Andaman and Nicobar Islands          23.550000
1               Andhra Pradesh          27.207692
2            Arunachal Pradesh          27.478571
3                        Assam                NaN
4                        Bihar                NaN